<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MMAMA Input Form</title>
</head>
<h1>MMANA-Gal</h1>

Please paste the data from "Antenna Definition Edit", then press Submit.

 <body>
      <form action = "http://192.168.254.130:5000/result" method = "POST">
         <p>Name <input type = "text" name = "Name" multiple />
         <p> MMANA Def <textarea name="mmana" cols="40" rows="5"></textarea></p>
         <p>Segments <input type = "text" name = "Segments" /></p>
         <p><input type = "submit" value = "Convert to NEC" /></p>
      </form>
   </body>
</html>
